@use "../scss/variables" as vars;
@use "@angular/material" as mat;

@include mat.paginator-overrides(
  (
    container-background-color: vars.$white-color,
  )
);

h1,
h2,
h3,
h4,
h5,
mat-dialog-content {
  color: vars.$main-color !important;
}

mat-dialog-actions span {
  color: vars.$main-color !important;
}

table {
  background-color: vars.$white-color !important;
  color: vars.$main-color !important;
}
