@use "../../../assets/scss/variables" as vars;

.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  margin-left: 250px;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 55;

  &-inner {
    color: white;
    background-color: #ffffff;
    margin: 0 auto;
    border-bottom: 2px solid #e2e8f0;

    .admin-title {
      font-size: 16px;
      color: vars.$main-color;
      font-weight: 500;
      cursor: pointer;
    }
  }

  &-expanded {
    margin-left: 60px;
  }

  mat-icon {
    color: #285059;
  }
}
