.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  flex-grow: 1;
  margin-left: 250px;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;

  &-inner {
    color: white;
    background-color: #ffffff;
    // max-width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid #e2e8f0;
  }

  &-expanded {
    margin-left: 60px;
  }

  mat-icon {
    color: #285059;
  }
}
