<div>
  <app-heading [title]="title" [refreshIcon]="true"></app-heading>
  <form [formGroup]="form" class="main-form">
    <p class="description">
      Api код — це ваш унікальний ідентифікатор магазину, який автоматично
      генерується під час реєстрації. Він зв’язує ваш обліковий запис з вашим
      публічним магазином. Використовуючи цей код, власник вашого
      інтернет-магазину може налаштувати публічний інтерфейс так, щоб
      відображалися лише товари, створені вами. Будь ласка, скопіюйте цей код і
      передайте його для налаштування публічного магазину.
    </p>
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>API код для магазину</mat-label>
        <input formControlName="title" matInput />
        <button
          matTooltip="Копіювати код"
          mat-icon-button
          matSuffix
          (click)="copyCode()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>
