@use "../../../../assets/scss/variables" as vars;

form {
  mat-form-field {
    width: 100%;
    max-width: 300px;
  }
}

table {
  background-color: vars.$white-color;
  tr {
    cursor: pointer;
    color: vars.$main-color;
  }

  mat-icon {
    color: vars.$main-color;
  }
}

.action-group {
  margin-left: -12px;
}

.empty {
  text-align: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-path {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 10px 0;

  img {
    border-radius: 8px;
  }
}
