<div>
  <app-heading [title]="title"></app-heading>
  <form class="create-form" [formGroup]="form">
    <div class="field-group">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Enter title"
          type="text"
          formControlName="title"
        />
        @if(form.get('title')?.touched &&
        form.get('title')?.hasError('required')) {
        <mat-error>Title is required</mat-error>
        } @if(form.get('title')?.touched &&
        form.get('title')?.hasError('maxlength')) {
        <mat-error>Title shoul be no longer than 255 symbols</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price, UA</mat-label>
        <input
          matInput
          placeholder="Enter price"
          type="number"
          formControlName="price"
        />
        @if(form.get('price')?.touched &&
        form.get('price')?.hasError('required')) {
        <mat-error>Price is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter amount"
          formControlName="stock"
        />
        @if(form.get('stock')?.touched &&
        form.get('stock')?.hasError('required')) {
        <mat-error>Amount is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product status</mat-label>
        <mat-select formControlName="status_id">
          @for (status of (statuses$ | async); track status.status_id) {
          <mat-option [value]="status.status_id">
            {{ status.status_name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product category</mat-label>
        <mat-select formControlName="category_id">
          @for (category of (categories$ | async); track category.category_id) {
          <mat-option [value]="category.category_id">
            {{ category.title }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product description</mat-label>
        <textarea
          matInput
          placeholder="Enter description"
          formControlName="description"
        >
        </textarea>
      </mat-form-field>
    </div>

    <div>
      <ng-container formArrayName="attributes">
        <div class="attribute-add" (click)="addAttribute()">
          <button id="attrAdd" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <span for="attrAdd">Add attribute</span>
        </div>

        @for (attributeForm of attributeFormGroups; track attributeForm; let
        index = $index) {
        <ng-container>
          <div class="attribute-row" [formGroup]="attributeForm">
            <div class="attribute-label">
              <mat-label class="attribute-label-title"
                >Attribute title
              </mat-label>
              <div class="attribute-item">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    formControlName="title"
                    placeholder="Назва атрибуту"
                  />
                </mat-form-field>

                <button
                  matTooltip="Remove title"
                  class="attr-btn"
                  mat-icon-button
                  (click)="deleteAttributeControl(index)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <div formArrayName="attributeValues">
              @for (valueForm of attributeForms[index]; track valueForm; let j =
              $index) {
              <ng-container>
                <div [formGroup]="valueForm" class="attribute-label">
                  <mat-label class="attribute-label-title"
                    >Attribute Value #{{ j + 1 }}
                  </mat-label>
                  <div class="attribute-item">
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        formControlName="attributeValueTitle"
                        placeholder="Значення атрибуту"
                      />
                    </mat-form-field>

                    <button
                      matTooltip="Remove value"
                      class="attr-btn"
                      mat-icon-button
                      (click)="deleteAttributeValue(index, j)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
              }
            </div>
          </div>
          <div class="value-add" (click)="addAttributeValue(index)">
            <button mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
            <span>Додати значення</span>
          </div>
        </ng-container>
        }
      </ng-container>
    </div>

    <div class="images-wrapper">
      <mat-label class="label-title">Product images</mat-label>
      <input type="file" (change)="onFileSelect($event)" multiple />
      @for(image of images.controls; track image; let index = $index) {
      @if(imageActive) {
      <div formArrayName="images">
        <div [formGroupName]="index" class="img-upload">
          <img
            [src]="image.get('path')!.value"
            [class.selected-image]="index === form.get('primary')!.value"
            style="width: 100px; height: auto"
            (click)="setPrimaryImage(index)"
          />

          <button
            mat-icon-button
            matTooltip="Remove image"
            (click)="deleteImage(index)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      } }

      <div class="main-img">Main image: {{ selectedImageName | async }}</div>
      @if(form.get('images')!.errors?.['minImageCount']) {
      <div class="empty-img-error">Please select at least one image</div>
      }
    </div>
    <div class="btn-group">
      <button
        [disabled]="!form.valid"
        type="button"
        mat-flat-button
        (click)="createProduct()"
      >
        Create
      </button>
      <button type="button" mat-stroked-button (click)="clear()">Clear</button>
    </div>
  </form>
</div>
