<div>
  <app-heading [title]="title"></app-heading>
  <form class="edit-form" [formGroup]="form">
    <div class="field-group">
      <mat-form-field appearance="fill">
        <mat-label>Назва</mat-label>
        <input
          matInput
          placeholder="Введіть назву"
          type="text"
          formControlName="title"
        />
        @if(form.get('title')?.touched &&
        form.get('title')?.hasError('required')) {
        <mat-error>Необхідно вказати назву</mat-error>
        } @if(form.get('title')?.touched &&
        form.get('title')?.hasError('maxlength')) {
        <mat-error>Назва має бути не довшою ніж 255 символів</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ціна, грн</mat-label>
        <input
          matInput
          placeholder="Введіть ціну"
          type="number"
          formControlName="price"
        />
        @if(form.get('price')?.touched &&
        form.get('price')?.hasError('required')) {
        <mat-error>Необхідно вказати ціну</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Кількість, шт</mat-label>
        <input
          matInput
          type="number"
          placeholder="Введіть кількість"
          formControlName="stock"
        />
        @if(form.get('stock')?.touched &&
        form.get('stock')?.hasError('required')) {
        <mat-error>Необхідно вказати кількість</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Статус</mat-label>
        <mat-select formControlName="status_id">
          @for (status of (statuses$ | async); track status.status_id) {
          <mat-option [value]="status.status_id">
            {{ status.status_name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Категорія</mat-label>
        <mat-select formControlName="category_id">
          @for (category of (categories$ | async); track category.category_id) {
          <mat-option [value]="category.category_id">
            {{ category.title }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Опис</mat-label>
        <textarea
          matInput
          placeholder="Введіть опис"
          formControlName="description"
        >
        </textarea>
      </mat-form-field>
    </div>

    <div>
      <ng-container formArrayName="attributes">
        <div class="attribute-add" (click)="addAttribute()">
          <button id="attrAdd" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <span for="attrAdd">Додати атрибут</span>
        </div>

        @for (attributeForm of attributeFormGroups; track attributeForm.value;
        let index = $index) {
        <ng-container>
          <div class="attribute-row" [formGroup]="attributeForm">
            <div class="attribute-label">
              <mat-label class="attribute-label-title">Заголовок </mat-label>
              <div class="attribute-item">
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    formControlName="title"
                    placeholder="Назва атрибуту"
                  />
                </mat-form-field>

                <button
                  matTooltip="Видалити заголовок"
                  class="attr-btn"
                  mat-icon-button
                  (click)="deleteAttributeControl(index)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

            <div formArrayName="attributeValues">
              @for (valueForm of attributeForms[index]; track valueForm; let j =
              $index) {
              <ng-container>
                <div [formGroup]="valueForm" class="attribute-label">
                  <mat-label class="attribute-label-title"
                    >Значення #{{ j + 1 }}
                  </mat-label>
                  <div class="attribute-item">
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        formControlName="attributeValueTitle"
                        placeholder="Значення атрибуту"
                      />
                    </mat-form-field>

                    <button
                      matTooltip="Видалити значення"
                      class="attr-btn"
                      mat-icon-button
                      (click)="deleteAttributeValue(index, j)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
              }
            </div>
          </div>
          <div class="value-add" (click)="addAttributeValue(index)">
            <button mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
            <span>Додати значення</span>
          </div>
        </ng-container>
        }
      </ng-container>
    </div>

    <div class="images-wrapper">
      <mat-label class="label-title">Зображення</mat-label>
      <input type="file" (change)="onFileSelect($event)" multiple />
      @for(image of images.controls; track image.value; let index = $index) {

      <div formArrayName="images">
        <div [formGroupName]="index" class="img-upload">
          <img
            [src]="image.get('path')!.value"
            [class.selected-image]="index === form.get('primary')!.value"
            style="width: 100px; height: auto"
            (click)="setPrimaryImage(index, image)"
          />

          <button
            mat-icon-button
            matTooltip="Видалити зображення"
            (click)="deleteImage(index, image)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      }

      <div class="main-img">
        Головне зображення: {{ selectedImageName | async }}
      </div>
      @if(form.get('images')!.errors?.['minImageCount']) {
      <div class="empty-img-error">Будь ласка оберіть хоч одне зображення</div>
      }
    </div>
    <div class="btn-group">
      <button
        [disabled]="!form.valid"
        class="primary-button"
        (click)="updateProduct()"
      >
        Оновити
      </button>
      <button class="secondary-button" (click)="backToProducts()">
        До продуктів
      </button>
    </div>
  </form>
</div>
