.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
}

mat-dialog-content {
  margin-top: 1rem;
}

mat-dialog-actions {
  column-gap: 25px;
}

.mat-mdc-chip-set {
  margin-bottom: 5px;
}
