<div class="dialog-wrapper">
  <h3 mat-dialog-title>Додати атрибут</h3>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Назва атрибута</mat-label>
        <input formControlName="key" matInput placeholder="Назва" />
        @if(form.get('key')?.touched && form.get('key')?.hasError('required')) {
        <mat-error>Назва не може бути пустою</mat-error>
        }
      </mat-form-field>

      <div>
        <mat-chip-grid #chipGrid>
          @for (item of attributeValues(); track $index) { @if(item) {
          <mat-chip-row (removed)="remove(item)">
            {{ item }}
            <button matChipRemove [attr.aria-label]="'remove ' + item">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          } }
        </mat-chip-grid>
        <mat-form-field appearance="fill">
          <mat-label>Значення</mat-label>
          <input
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="add($event)"
            matInput
            placeholder="Введіть значення та натисніть Enter"
            formControlName="attributeValue"
          />
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="close()">Закрити</button>
    <button
      [disabled]="form.invalid || !filled()"
      class="primary-button"
      (click)="save()"
    >
      Додати
    </button>
  </mat-dialog-actions>
</div>
