<div class="login-wrapper">
  <form [formGroup]="form" class="main-form">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Sign In</h3>

        <div class="card-content">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="email"
              formControlName="email"
              matInput
              placeholder="Enter email"
            />

            @if(form.get('email')?.touched &&
            form.get('email')?.hasError('required')) {
            <mat-error>Email is required</mat-error>
            } @if(form.get('email')?.touched &&
            form.get('email')?.hasError('email')) {
            <mat-error>Please, enter a valid email</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Enter password"
              formControlName="password"
            />

            @if(form.get('password')?.touched &&
            form.get('password')?.hasError('required')) {
            <mat-error>Password is required</mat-error>
            } @if(form.get('password')?.touched &&
            form.get('password')?.hasError('minlength')) {
            <mat-error>Password should contain at least 4 symbols</mat-error>
            }
          </mat-form-field>
          <div class="form-group">
            <div class="additional-account">
              <span class="link-label"> Don't have an account? </span>
              <a class="link" routerLink="/authentication/register">sign up</a>
            </div>
          </div>
          <button
            type="button"
            mat-flat-button
            [disabled]="form.invalid"
            (click)="signIn()"
            class="login-btn"
          >
            Sign In
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
