@use "../../../../../public/assets/scss/variables" as vars;

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-group label {
  cursor: pointer;
  font-weight: 500;
}

.main-form {
  width: 100%;
  max-width: 450px;
}

.card-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  color: vars.$main-color;
  letter-spacing: 1px;
}

.card-body {
  padding: 35px;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.additional-account {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: vars.$main-color;
  }

  mat-icon {
    font-size: 19px;
    color: vars.$main-color;
  }

  .link-label {
    font-size: 16px;
    color: vars.$main-color;
    font-weight: 500;
  }

  a {
    cursor: pointer;
    color: vars.$main-color;
  }
}
