.content {
  min-height: calc(100vh - 64px);
  flex-grow: 1;
  margin-left: 250px;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  overflow-y: auto;

  &-inner {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }

  &-expanded {
    margin-left: 60px;
  }
}
